@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif !important;;
}
#popupContainer {
    display: none;
    position: fixed;
    width: 320px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 30px;
    opacity: 0;
    transition: opacity 0.5s ease, display 0s ease;
}
.closeButton {
    position: absolute;
    font-size: 24px;
    line-height: 14px;
    font-weight: bold;
    color: #d9d9d9;
    top: 19px;
    right: 19px;
    cursor: pointer;
}
.mauticform_wrapper input:focus {
    outline: none;
}
.mauticform-label, .mauticform-input, .mauticform-button {
    font-family: 'Poppins', sans-serif !important;
}
.mauticform-label {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    color: #000;
    margin-bottom: 10px !important;
}
.mauticform-label:after {
    color: #000 !important;
}
.mauticform-selectbox, .mauticform-input, .mauticform-textarea {
    border-radius: 5px;
    border: 1px solid #D9D9D9 !important;	
    color: #000 !important;
    font-size: 16px;
}
.mauticform-button-wrapper {
    text-align: center;
    margin-bottom: 0 !important;
}
.mauticform-button {
    min-width: 100% !important;
    min-height: 50px;
    font-size: 16px !important;
    background: #3076FF !important;
    color: #fff !important;
    border-radius: 10px !important;
    border: 2px solid #3076FF !important;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
.mauticform-button:hover {
    background: transparent !important;
    color: #3076FF !important;
}
.mauticform-errormsg {
    margin-top: 5px !important;
}
@keyframes fadeInAndOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.animated-checkmark {
    animation: fadeInAndOut 6s linear;
    width: 200px;
    margin: 0 auto;
    display: block;
}
#popupContainer h2 {
  	margin-bottom: 20px;
}
#popupContainer h3 {
    text-align: center;
    font-size: 22px !important;
}